#tableOfContents{
  padding-top: 50px;
  padding-bottom: 100px;

  .green{
    color: steelblue;
  }
  .orange{
    color: goldenrod;
  }
  .purple{
    color: purple;
  }
  .blue{
    color: darkplum;
  }
}
